# PostgreSQL
POSTGRES_DB=superset
POSTGRES_PASSWORD=supersecretpassword

# Superset
SUPERSET_SECRET_KEY=your_very_secure_secret_key_here
SUPERSET_LOAD_EXAMPLES=yes
SUPERSET_PORT=8088

# Regolo.ai API
REGOLO_TOKEN=SECRET

# Configurazioni del Plugin RAG Chatbot
ENABLE_RAG_CHATBOT=true
RAG_CHATBOT_MODEL=llama3.1:70b-instruct-q8_0

# Altre configurazioni (decommentare se necessario)
# POSTGRES_USER=superset